# Compiled folders
*node_modules/
*dist/
*build/
# Logs
*yarn-debug.log
*yarn-error.log
*tsconfig.tsbuildinfo
#Files samples
*.env.sample
# Version Control
*.gitignore
*.git/
#Markdown files
*.md
!README*.md
#Heroku files
*Procfile
*.slugignore
#Linting
*.eslintignore
*.eslintrc.json
*.editorconfig
#tests
*src/tests/
*jest.config.ts
*tests/
#Docker
*.dockerignore
*docker-compose.yml
*Dockerfile